@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');
h1
{
    text-align: center;
    font-size: 100px;
    margin: 25px 20%;
    font-family: 'Maven Pro', sans-serif;
    background-color:beige;
    border-radius: 10px;
     border:black solid 3px; 
    color: rgb(0, 0, 0);
}
body
{
    margin: 0;  
}
#mainDiv
{
background-color:lightgray;
margin: auto;
height: 100vh;
width: 85vw;
display: table;
}
div.board
{
    font-family: 'Balsamiq Sans', cursive;
    width: 75vw;
    height: 50vh; 
    margin: auto;
    justify-content: center;
    align-content: center;
    background-color: rgb(0, 7, 0);
    border: 7px solid rgb(110, 70, 37);
    color: cornsilk;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
div.grid
{
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}
div.cell
{
    width: 100px;
    height: 100px;  
    border: 2px solid cornsilk;
}
.cell p
{
    margin: 0;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.sideBoard p
{
    margin: 0;
    text-align: center;
    font-size: 50px;
}
button#resetButton
{
    font-size: 50px;
    font-family: 'Maven Pro', sans-serif;
    padding: 0px 25px 5px;
    background-color:wheat;
    border-radius: 50px;
    border:rgb(0, 0, 0) solid 1px;
    margin-top: 25px;
}
button#resetButton:active{
    background-color:grey;
}
.underBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}